<div class="row cclBreadcrumb">
  <div class="col-md-3 breadcrumbLeft">
    Rules
    <i class="breadcrumbIcon">
    </i>
  </div>
  <div class="col-md-9 headWrapper">
    <span class="pull-right">
      <button mat-mini-fab>
        <span matTooltip="Add Rules">
          <mat-icon>add_circle_outline</mat-icon>
        </span>
      </button>
    </span>
  </div>
</div>
<div class="container-fluid contentWrapper">
  <div class="row">
    <mat-card class="col-lg-12">
      <app-rule-list></app-rule-list>
    </mat-card>
  </div>
</div>