<div class="row cclBreadcrumb">
    <div class="col-md-3 breadcrumbLeft">
        Create & Manage Groups
      <i class="breadcrumbIcon">
      </i>
    </div>
    <div class="col-md-9 headWrapper">
      <span class="pull-right">
        <button mat-mini-fab>
          <span matTooltip="Add Group">
            <mat-icon>add_circle_outline</mat-icon>
          </span>
        </button>
      </span>
    </div>
  </div>
  <div class="container-fluid contentWrapper">
    <div class="row">
      <div class="col-md-12">
        <h1>Group Details</h1>
      </div>
    </div>
  </div>