<h1 class="example-header">Grain Data</h1>
<form [formGroup]="grainListForm" class="grainListForm">
  <div class="row form-group">
    <div class="col-md-12" style="padding-left: 50px ">
      <mat-form-field>
        <input matInput placeholder="Search" width="100%" autocomplete="off" formControlName="search" autocomplete="off">
      </mat-form-field>
    </div>
  </div>
</form>
<div class="table-responsive">
  <table class="table table-striped" style="border:1px solid #ddd">
    <thead>
      <tr class="table-header">
        <th>PROJECT</th>
        <th>GRAIN NAME</th>
        <th>SCHEMA</th>
        <th>TABLE</th>
        <th>UNIQUE ID</th>
        <th>CREATED ON</th>
        <th>UPDATED ON</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of pageGrains">
        <td>{{data.project}}</td>
        <td>{{data.grainName}}</td>
        <td>{{data.schema}}</td>
        <td>{{data.table}}</td>
        <td>{{data.uniqueId}}</td>
        <td>{{data.createdDate}}</td>
        <td>{{data.updatedDate}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<mat-paginator #paginator [length]="grainList.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="setPaginator($event)">
</mat-paginator>